*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header{
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.content{
    padding: 20px;
    text-align: center;
}

.footer{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}